body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  
  *{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: border-box;
    
  
  }
  
  
  
  
  /* Navbar css begins here  */

  
  .navbar {
    height: 70px;
    background-color: #fffcfc;
    color: #000000;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 1rem;
    
  }
  
  .border12{
    border: 2px solid transparent;
  }
  
  .border12:hover{
    border: 2px solid rgb(197, 194, 194);
  }
  
  .logo img {
    margin-right: 10px;
    margin-left: 10px;
    
  }
  .mlogo{
    width: 13vw;
    height: 10vh;
    background-size: cover;
    align-items: center;
  }
  .add-deliver{
    font-size: 0.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    columns: #CCCCCC;
    margin-left: 12px;
  }
  
  .add-location{
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 0.9rem;
    align-items: center;
  }
  
  .clogo{
    width: 100px;
    height: 40px;
  }
  
  .cata{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 27px;
    display: flex;
    align-items: center;
  }

  .navicons{
    height: 25px;
    margin: 7px;
    align-items: center;
    justify-content: center;
  }
  
  
  
  
  
  /* the bgr class is for the search, iddo why its named such */
  
  .bgr{
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    height: 45px;
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
  }
  
  .bgl{
    width: 700px;
    height: 45px;
    
    
    
    
    
  }
  
  .searchicon{
    width: 65px;
    height: 45px;
    display: flex;
    background-color:#E50914;
    color: white;
    border-radius: 0px 20px 20px 0px;
    
  
  }
  
  input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
  
  input[type="search"]::placeholder {
    color: #5d5d5d;
  }
  
  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 90px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }
  
  button[type="submit"]:focus,
  input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #3b89c2;
    outline: none;
  }
  
  .profileicon{
    font-size: 27px;
  }
  
  .kartlogo{
    font-size: 27px;
  }
  
  .plus-icon{
    font-size: 27px;
  }
  
  
  
  
  
  /* Responsive design */
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
    .logo {
      margin-bottom: 10px;
    }
    .nav-links {
      flex-direction: column;
    }
    .nav-links li a {
      padding: 5px;
    }
  }
  /* navbar ends here finally :(  */