body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  
  *{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: border-box;
    
  
  }
  

  
  body {
  background-color: #f9f9f9;
  }
  
  
  /* Categories Section */
  .categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2% 2%;
  background-color: 	#E50914;
  }
  
  .categoryy {
  text-align: center;
  }
  
  .categoryy img {
  
  width: 10vw;
  height: 20vh;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(249, 6, 6, 0.1); 
  }
  
  .categoryy img:hover {
  transform: scale(1.1); /* zoom thingy */
  }
  
  .categoryy p {
  margin-top: 10px;
  margin-bottom: -70%;
  font-size: 23px;
  color: #000000;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  }
  
  .category-box
  {
  padding-left: 3%;
  }
  
  
  .banners {
  margin-top: 150px;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 20px;
  
  
  }

.banana{
  height: 300px;
}

  
  .banner {
  display: inline-block;
  width: 100%; 
  text-align: center;
  margin-right: 20px;
  
  }
  
  .banner img {
  width: 100%;
  height: auto; 
  }
  
  /** big boxes section **/

.shopsection{
  display:flex;
  margin-top: 180px;

}

.boxx{
background-color: #e0e0e0;
 height: 400px;
 width:25%;
 margin: 5px;
 padding: 10px;

}

.boxx:hover{
border: 2px solid black;
}

.boxximg{
align-items:center;
height: 90%;
width: 100%;
}


  


  
  