*{                              
  margin:0;               
  padding:0;
  box-sizing: border-box;     

}
body{
  font-family: 'Poppins', sans-serif;
}

/*for menu links*/
a{
  text-decoration: none;
  color:#555;
}
p{
  color:#555;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.btn{
  display: inline-block;
  background-color: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  margin-left: 25px;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover{
  background: #563434;
}
.header{
  background: radial-gradient(#fff, #ffd6d6);
}
.header .row{
  margin-top: 75px;
}

/*Cart Items*/
.cart-page{
  margin: 80px auto;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.cart-info{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px;
  color: white;
  background: #ff523b;
  font-weight: normal;
}
td{
  padding: 10px 5px;
}
td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a{
  color: #ff523b;
  font-size: 12px;
}
td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
td small{
  padding-left: 0px;
  margin-left: 0px;
}

.total-price{
  display: flex;
  justify-content: flex-end;
}

.checkout-btn {
  background-color: #ff523b;
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 0 auto; /* Centers the button */
}

.checkout-btn:hover {
  background-color: #1b1a16;
}

.total-price table{
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 480px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}


@media only screen and (max-width: 600px){

  .row{
      text-align: center;
  }
  .col-2, .col-3,.col-4{
      flex-basis: 100%;
  }
  
  /*for cart page*/
  .cart-info p{
      display:none;
  }
 
.single-product .row{
    text-align: left;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h1{
    font-size: 26px;
    line-height: 26px;
}
/*for cart page*/
.cart-info p{
    display:none;/*hide product name in smaller screen*/
}
  .checkout-btn {
    width: auto;
}
}